.card {
  cursor: pointer;
  background: #2f2f37;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.image {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
.price {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.name {
  text-align: center;
} 