.center {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background: transparent;
  border: 1px dashed #3c39ec;
  border-radius: 24px;
  padding: 48px 40px 32px 40px;
  min-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textRow {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.link {
  color: #3c39ec;
  text-decoration: none;
} 