
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1C1C21;
  border-radius: 40px;
  padding: 40px;
  min-width: 720px;
  z-index: 1001;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
} 